{{> head}}
{{> nav}}

<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="/assets/papers.js"></script>

<div class="main">
	<h1>
	{{#if admin}}
		Papers admin
	{{else}}
		Tell us which papers you like
	{{/if}}
	</h1>

	<table class="table striped">

		<tr>
			<th>Vote!
			<th>Date
			<th>Name
			<th>Email
			<th>Title
			<th>Description
		{{#each papers}}
			<tr data-id="{{id}}">
				<td><input type=checkbox>
				<td>{{date timestamp}}
				<td>{{name}}
				<td>{{email}}
				<td>{{title}}
				<td>
					{{description}}
					<a class=more href="#">more &rsaquo;</a>
		{{/each}}

	</table>
</div>
	
{{> footer}}