<header>
	<div class=logo><img src="/assets/img/logo.png" alt="" width=54 height=70></div>
	<div class=what>2014 UtahJS Conference</div>
	<div class=when>Friday June 6th, 2014</div>
	<div class=where>Downtown Salt Lake City Library</div>
</header>
<nav>
	<ul>
		<li><a href="/">Home</a>
		<li><a href="/schedule">Schedule</a>
		<li><a href="http://intel.to/tickets">Buy Tickets</a>
		{{!--
			<li><a href="/vote">Vote on Papers</a>
			<li><a href="/submit">Submit Presentation Proposal</a>
			<li><a href="/papers-admin">Admin</a>
		--}}
	</ul>
</nav>
