<header>
	<div class=logo><img src="/assets/img/logo.png" alt="" width=54 height=70></div>
	<div class=what>2015 UtahJS Conference</div>
	<div class=when>Friday September 25, 2015</div>
	<div class=where>Downtown Salt Lake City Library</div>
</header>
<nav>
	<ul>
		<li><a href="/">Home</a>
		<li><a href="/submit">Submit Presentation Proposal</a>
		<li><a href="/sponsor">Sponsorship Opportunities</a>
		<li><a href="/shirts">Design our Shirts</a>
		<li><a href="/schedule-2014">2014 Schedule</a>
		{{!--
			<li><a href="http://intel.to/tickets">Buy Tickets</a>
			<li><a href="/vote">Vote on Papers</a>
			<li><a href="/papers-admin">Admin</a>
		--}}
	</ul>
</nav>
