<div class="sps">
	<h3 class="sps-headline">Sponsored in part by</h3>
	<a class="sps-logo" href="http://www.nuvi.com/"><img src="/assets/img/sps/NUVI.png" width="109" height="30" alt="NUVI"></a>
	<a class="sps-logo" href="http://www.pluralsight.com/"><img src="/assets/img/sps/Pluralsight.png" width="250" height="21" alt="Pluralsight"></a>
	<a class="sps-logo" href="https://daplie.com/"><img src="/assets/img/sps/Daplie.png" width="161" height="26" alt="Pluralsight"></a>
	<a class="sps-logo" href="http://rethinkdb.com/"><img src="/assets/img/sps/RethinkDB.png" width="171" height="30" alt="RethinkDB" /></a>
	<a class="sps-logo" href="https://www.premierinc.com/">Premier, Inc.</a>
</div>
