/* general */
body {
	font-size: 16px;
}
h1 {
    font-size: 2.3em;
}
a {
  outline: 0 !important;
}
/* layout */
.main {
  padding: 30px;
  width: 100%;
  min-height: 500px;
}
/* header */
header {
  background-color: #eee;
  color: #0071CD;
  padding: 30px;
}
.what {
  font-size: 1.8em;
  font-weight: bold;
}
.when,
.where {
  font-size: 0.8em;
  color: #666;
  font-style: italic;
}
.logo {
  float: right;
}
/* nav */
nav {
  background-color: #0071CD;
}
nav ul {
  margin: 0 15px;
}
nav li {
  display: inline-block;
  margin: 0;
}
nav li a,
nav li a:visited {
  display: inline-block;
  padding: 15px 15px;
  color: rgba(255,255,255,0.88);
  font-weight: bold;
  text-decoration: none;
}
nav li a:hover,
nav li a:visited:hover {
  background-color: #329AEE;
  color: #fff;
  font-weight: bold;
}
/* footer */
footer {
  background-color: #0071CD;
  color: rgba(255,255,255,0.66);
  padding: 10px;
  font-size: 12px;
}
footer a, 
footer a:visited {
  color: rgba(255,255,255,0.66);
}
footer a:hover,
footer a:visited:hover {
  color: rgba(255,255,255,0.88);
  text-decoration: underline;
}
.powered-by {
  float: left;
}
.credit {
  float: right;
}
.clear {
  clear: both;
}
/* forms */
.bt,
.pagination a,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font: inherit;
  display: inline-block;
  padding: 9px 12px;
  text-decoration: none;
  cursor: pointer;
  
  color: #f9f9f9;
  background-color: #3085CB;
  background: linear-gradient(to bottom, #3085CB, #1267AD);
  background: -webkit-linear-gradient(top, #3085CB, #1267AD);
  background: -moz-linear-gradient(center 1px, #3085CB, #1267AD);
  background: -ms-linear-gradient(top, #3085CB, #1267AD);
  background: -o-linear-gradient(top, #3085CB, #1267AD);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#3085CB', endColorstr='#1267AD)');
  border: 1px solid #1267AD;
  
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.09);
}
.bt:hover,
.pagination a:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #fff;
  background-color: #00559B;
  background: linear-gradient(to bottom, #00559B, #013D75);
  background: -webkit-linear-gradient(top, #00559B, #013D75);
  background: -moz-linear-gradient(center 1px, #00559B, #013D75);
  background: -ms-linear-gradient(top, #00559B, #013D75);
  background: -o-linear-gradient(top, #00559B, #013D75);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00559B', endColorstr='#013D75)');
  border: 1px solid #00559B;
}
legend {
  background: #eee;
  border: 1px solid #0071CD;
  color: #0071CD;
}
fieldset {
  border-top: 1px solid #0071CD;
  padding-bottom: 3em;
}
label {
  margin: 1em 0 0 0;
}
input[type=submit] {
  width: auto;
}
input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, textarea:focus {
    color: #003DD3;
}
.checkboxes label {
  font-weight: normal;
  margin-top: 0.2em;
}
.error {
  font-weight: bold;
  color: red;
  background-color: #EEEEEE;
  border: 1px solid #FF0000;
  margin-bottom: 1em;
  padding: 5px 8px;  
}
.required:after {
  content: "*";
  font: 16px "Times New Roman", Times, serif;
  color: red;
  margin-left: 2px;
}
/* voting table */
.paper td {
  vertical-align: top;
}
.description {
  width: 50%;
}
.fulldesc {
  display: none;
}
.paper a {
  text-decoration: none;
}
.paper a.social-link,
.paper a.mailto,
.paper a.less,
.paper a.more {
  text-decoration: underline;;
}
/* icons */
@font-face {
  font-family: 'icons';
  src:url('/assets/fonts/icons/icons.eot');
  src:url('/assets/fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons/icons.woff') format('woff'),
    url('/assets/fonts/icons/icons.ttf') format('truetype'),
    url('/assets/fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  font-family: 'icons';
  font-size: 20px;
  height: 20px;
  width: 20px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #ccc;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon:hover:before {
  color: #0071cd;
}
.voteup {
  color: #ccc;
}
.comment:before {
  content: "\e600";
  font-size: 16px;
}
.delete:before {
  content: "\e601";
}
.voteup:before {
  content: "\e602";
}
.favorite:before {
  content: "\e603";
}
.favorited:before {
  content: "\e604";
}
.upvoted,
.upvoted:before,
.favorited:before {
  color: #0071cd;
}
.comment-text {
  font-size: 12px;
  margin-left: 4px;
}
