/* general */
body, select, textarea, input {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
textarea {
	 resize: auto;
}
h1 {
    font-size: 2.3em;
}
h1, h2, h3, h4, h5, .what {
	color: #000;
	font-family: 'Roboto', sans-serif;
}
a {
  outline: 0 !important;
}
/* layout */
.main {
  padding: 2em;
  width: 100%;
  min-height: 30em;
}
/* header */
header {
  background: url("/assets/img/downtown-library.jpg") no-repeat scroll 100% 0 #000;
  background-size: 50%;
  color: #E7181C;
  padding: 2em;
}
.what {
  font-size: 1.8em;
  width: 40%;
  color: #E7181C;
}
.when,
.where {
  font-size: 0.8em;
  color: #A1A1A1;
  font-style: italic;
  width: 40%;
}
.logo {
  float: right;
}
/* nav */
nav {
  background-color: #E7181C;
}
nav ul {
  margin: 0 1em;
}
nav li {
  display: inline-block;
  margin: 0;
}
nav li a,
nav li a:visited {
  display: inline-block;
  padding: 1em;
  color: rgba(255,255,255,0.88);
  font-weight: bold;
  text-decoration: none;
}
nav li a:hover,
nav li a:visited:hover {
  background-color: #C30013;
  color: #fff;
  font-weight: bold;
}
/* footer */
footer {
  background-color: #E7181C;
  color: rgba(255,255,255,0.66);
  padding: 0.8em;
  font-size: 0.8em;
}
footer a, 
footer a:visited {
  color: rgba(255,255,255,0.66);
}
footer a:hover,
footer a:visited:hover {
  color: rgba(255,255,255,0.88);
  text-decoration: underline;
}
.powered-by {
  float: left;
}
.credit {
  float: right;
}
.clear {
  clear: both;
}
/* forms */
.bt,
.pagination a,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font: inherit;
  font-weight: bold;
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  cursor: pointer;
  color: #f9f9f9;
  background-color: #444;
  background: linear-gradient(to bottom, #444, #000);
  background: -webkit-linear-gradient(top, #444, #000);
  background: -moz-linear-gradient(center 1px, #444, #000);
  background: -ms-linear-gradient(top, #444, #000);
  background: -o-linear-gradient(top, #444, #000);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#444', endColorstr='#000)');
  border: 1px solid #000;
  
  border-radius: 0.3em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.bt:hover,
.pagination a:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #fff;
  background-color: #666;
  background: linear-gradient(to bottom, #666, #222);
  background: -webkit-linear-gradient(top, #666, #222);
  background: -moz-linear-gradient(center 1px, #666, #222);
  background: -ms-linear-gradient(top, #666, #222);
  background: -o-linear-gradient(top, #666, #222);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#666', endColorstr='#222)');
  border: 1px solid #666;
}
legend {
  background: #000;
  border: 1px solid #000;
  color: #eee;
  padding: 1em 2em;
}
fieldset {
  border-top: 1px solid #000;
  padding-bottom: 3em;
}
label {
  margin: 1em 0 0 0;
}
input[type=submit] {
  width: auto;
}
input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, textarea:focus {
    background-color: #F6f6f6;
	color: #333;
}
.checkboxes label {
  font-weight: normal;
  margin-top: 0.2em;
}
.error {
  font-weight: bold;
  color: red;
  background-color: #EEEEEE;
  border: 1px solid #FF0000;
  margin-bottom: 1em;
  padding: 0.3em 0.5em;  
}
.required:after {
  content: "*";
  font: 1em "Times New Roman", Times, serif;
  color: red;
  margin-left: 0.25em;
}
/* voting table */
.paper td {
  vertical-align: top;
}
.description {
  width: 50%;
}
.fulldesc {
  display: none;
}
.paper a {
  text-decoration: none;
}
.paper a.social-link,
.paper a.mailto,
.paper a.less,
.paper a.more {
  text-decoration: underline;;
}
.less,
.more {
  white-space: nowrap;
}
/* icons */
@font-face {
  font-family: 'icons';
  src:url('/assets/fonts/icons/icons.eot');
  src:url('/assets/fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons/icons.woff') format('woff'),
    url('/assets/fonts/icons/icons.ttf') format('truetype'),
    url('/assets/fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  font-family: 'icons';
  font-size: 1.25em;
  height: 1.25em;
  width: 1.25em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #ccc;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon:hover:before {
  color: #0071cd;
}
.voteup {
  color: #ccc;
}
.comment:before {
  content: "\e600";
  font-size: 1em;
}
.delete:before {
  content: "\e601";
}
.voteup:before {
  content: "\e602";
}
.favorite:before {
  content: "\e603";
}
.favorited:before {
  content: "\e604";
}
.upvoted,
.upvoted:before,
.favorited:before {
  color: #0071cd;
}
.comment-text {
  font-size: 0.75em;
  margin-left: 0.25em;
}
.info-table td,
.info-table th {
	border: 1px solid #DE0016;
	padding: 1.5em 0.75em;
	text-align: center;
	vertical-align: top;
}
.info-table th {
	font-weight: bold;
	color: #000;
	vertical-align: bottom;
	background-color: #ddd;
}
.info-table td:nth-child(2n) {
	background-color: #f1f1f1;
}
.sponsor-table th {
	width: 7%;
	padding: 1.5em 0.25em;
}
.sponsor-table td:first-child,
.sponsor-table th:first-child {
	width: 23%;
	text-align: left;
	padding: 1.5em 0.75em;
}
.pull-left {
	float: left;
}
/* schedule */
#sched {
	width: auto;
	clear: both;
}
#sched td {
	padding: 0 0.5em;
	border: 1px solid #ccc;
}
#sched th {
	padding: 0.5em;
	border: 1px solid #ccc;
	text-align: center;
}
.room {
	width: 30%;
}
.expand {
	text-decoration: underline !important;
}
.expanded {
	clear: both;
	border: 4px solid #DDDDDD;
	padding: 30px;
}
.expanded .back {
	width: auto;
}
.time {
	text-wrap: avoid;
	white-space: nowrap;
}
.t15min {
	height: 2em;
}
.t30min,
.t35min {
	height: 4em;
}
.t40min,
.t45min {
	height: 6em;
}
.t60min {
	height: 8em;
}
.t90min {
	height: 12em;
}
.t105min {
	height: 14em;
}
.t120min {
	height: 16em;
}
.table .break {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.keynote {
	background-color: #E3FFD5;
}
.talk {
	background-color: #D9EEFF;
}
.mobile-slot {
	border: 1px solid #0071CD;
	margin: 20px 0;
}
.mobile-time,
.mobile-break,
.mobile-talk {
	padding: 5px 10px;
}
.mobile-time {
	background-color: #0071CD;
	text-align: center;
	color: #fff;
}
.mobile-break {
}
.mobile-room {
	padding: 10px 10px 0 10px; 
	text-transform: uppercase;
	color: #999;
	font-size: 14px;
	text-align: center;
}
.mobile-room-a,
.mobile-room-c {
	border-top: 1px solid #ccc;
}
.mobile-talk {
	
}
.canceled {	
	background-color: #ccc;
}
.canceled-descr {
	text-decoration: line-through;
	color: #555;
}
.canceled-notice {
	text-decoration: none;
}
.empty {
	background-color: #eee;
}
.sps {
    width: 290px;
    padding: 20px;
    border: 1px solid #E7181C;
    margin-bottom: 30px;
}
.main-schedule .sps {
    float: right;
	margin-top: -151px;
    background-color: white;
}
.sps-headline {
	text-transform: uppercase;
	font-size: 13px;
	color: #E7181C;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
.sps-logo {
	display: block;
	margin-top: 15px;
}
.beginner {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	background-color: #16CB16;
	text-align: center;
	border-radius: 12px;
	font-size: 18px;
}
#sched .beginner {
	float: right;
	display: block;
}
.legend {
	float: left;
	clear: left;
	margin: 1em 0;
}
@media screen and (min-width: 769px) {
	.mobile-only {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.desktop-only {
		display: none;
	}
	.main {
		padding: 1em 0.5em;
	}
}
@media only screen and (max-width: 479px) {
	h1 {
		font-size: 1.4em;
	}
	h2 {
		font-size: 1.25em;
	}
	h3 {
		font-size: 1.1em;
	}
	nav li a {
		font-size: 0.75em;
	}
	header {
		padding: 1.2em;
	}
	.main {
		min-height: 0;
	}
	footer {
		font-size: 0.7em;
	}
	header {
		background-size: 100%;
	}
	.what, .when, .where {
		width: 75%;
		color: #fff;
		text-shadow: -1px -1px 1px #000;
		font-size: 0.95em;
		font-weight: bold;
	}
	.what {
		font-size: 1.6em;
	}
	.sps {
		width: 100%;
	}
}