{{> head}}
{{> nav}}

<div class=main>
	
	<h1>4th Annual UtahJS Conference</h1>

	<p><a href="http://www.eventbrite.com/e/utahjs-conference-2015-tickets-18118982364?aff=confsite"><strong>Buy tickets now</strong></a> for this one day event on Friday September 25, 2015 at the Downtown Salt Lake City Library!
		
	<p>Some great speakers are presenting; checkout the <a href="/schedule">schedule</a>.
		
	<p>We're still looking for sponsors; information on tiers is on the <a href="/sponsor">sponsor us</a> page.

	{{!-- 
	<p>Thanks for your presentation proposals! Please vote on submissions <a href=/vote>here</a>.</p>
	So far we have received {{count}} proposals! 
	--}}

</div>

{{> footer}}