{{> head}}
{{> nav}}

<div class=main>
	<h1>3rd Annual 2014 UtahJS Conference</h1>

	<p>Mark your calendars for Friday, June 6th, 2014! UtahJS's third annual conference will be a one-day event at the Downtown Salt Lake City Library. Tickets will go on sale this Spring.

	<p>We are accepting proposals for presentations through Feburary 28th, 2014. If you would like to speak, please complete the <a href="/submit">online form</a>. So far we have received {{count}} proposals!

	<p>More details about the conference will be posted on this page.

</div>

{{> footer}}