{{> head}}
{{> nav}}

<div class=main style="max-width:700px">
	
	<h1>4th Annual UtahJS Conference</h1>

	<p>Tickets are sold out!
		
	<p>Some great speakers are presenting; checkout the <a href="/schedule">schedule</a>.
		
	<p>Here is a <a href="https://www.google.com/maps/place/The+City+Library/@40.7599247,-111.8848902,17z/data=!3m1!4b1!4m2!3m1!1s0x8752f513941a4baf:0xec0029375522ca">map</a> to the Library. 
		Parking is available underground for $12/day. You can enter the garage from 400 S or 500 S. There is a Trax Red Line station on 400 S in front of the Library.
		Please arrive no later than 8:30am to pick up your registration packet and get seated.
	
	{{!-- 
	<p><a href="http://www.eventbrite.com/e/utahjs-conference-2015-tickets-18118982364?aff=confsite"><strong>Buy tickets now</strong></a> for this one day event on Friday September 25, 2015 at the Downtown Salt Lake City Library!
	<p>Some great speakers are presenting; checkout the <a href="/schedule">schedule</a>.
	<p>We're still looking for sponsors; information on tiers is on the <a href="/sponsor">sponsor us</a> page.
	<p>Thanks for your presentation proposals! Please vote on submissions <a href=/vote>here</a>.</p>
	So far we have received {{count}} proposals! 
	--}}
	
	{{> sponsors}}

</div>

{{> footer}}