{{> head}}
{{> nav}}

<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="/assets/js/papers.js"></script>

<div class="main">
	<h1>
	{{#if admin}}
		Papers admin
	{{else}}
		Tell us which presentations you like
	{{/if}}
	</h1>

	<table class="table striped {{ternary admin "admin"}}">
		<tr>
			<th class=vote>Votes
			{{#if admin}}
			<th class=created>Date
			{{/if}}
			<th class=name>Name
			<th class=title>Presentation Title
			<th class=description>Presentation Details
			{{#if admin}}
				<th class=fav>Fav
				<th class=comm>Comment
				<th class=del>Del
			{{/if}}
		{{#each papers}}
			<tr data-id="{{_id}}" class=paper>
				<td>
					<a href="#" class="icon voteup" title="Click to vote for this presentation">
						<span class=score>{{score}}</span>
					</a>
				{{#if ../admin}}						
				<td>{{date created}}
				<td><a class=mailto href="mailto:{{email}}?subject=2014%20UtahJS%20Conference%20Presentation%20Submission">{{name}}</a>
				{{else}}
				<td>{{name}}
				{{/if}}
				<td>{{title}}
				<td class=description>
					<div class=excerpt>
						{{truncate description 80}}
						<a class=more href="#">details &rsaquo;</a>
					</div>
					<div class=fulldesc>
						<h4>About {{name}}</h4>
						<p>{{bio}}
						{{#if github}}
							<p><strong>Github:</strong> {{github}}
						{{/if}}
						{{#if twitter}}
							<p><strong>Twitter:</strong> {{twitter}}
						{{/if}}
						<h4>Presentation Description</h4>
						<p>{{nl2br description}}
						<p>Targeted for: {{join audience ", "}}
						<p><a class=less href="#">&lsaquo; hide details</a>
					</span>
					
				{{#if ../admin}}
				<td>
					<a href="#" class="icon favorite {{ternary admin_favorite "favorited"}}" title="Click to favorite"></a>
				<td>
					<a href="#" class="icon comment" title="Click to edit admin comment">
						<span class=comment-text>{{admin_comment}}</span>
					</a>
				<td>
					<a href="#" class="icon delete" title="Click to soft delete"></a>
				{{/if}}
		{{/each}}
	</table>
</div>
	
{{> footer}}