{{> head}}
{{> nav}}

<div class="main main-schedule">
	
	<h1 class="pull-left">Schedule: 2015 UtahJS Conference</h1>
	
	{{> sponsors}}
	
	<div id=sched>
		<table class="table desktop-only">
			<tr>
				<th class=time>Time
				<th class=room>Auditorium
				<th class=room>Room C
				<th class=room>Room A
			</tr>
			{{#each schedule}}
				<tr>
					<td class="time t{{minutes}}min">{{time}}</td>
					{{#if is_talk}}
						{{#if large.canceled}}
							<td class="talk canceled">
								<span class="canceled-notice">Canceled</span>
								<span class="canceled-descr">
									{{large.title}}
									<br>
									<em>By {{large.name}}</em>
								</span>
							</td>
						{{else}}
							<td class=talk>
								<a href="#" data-id="id{{large._id}}" class="expand" title="Click to view details">{{large.title}}</a>
								<br>
								<em>By {{large.name}}</em>
							</td>
						{{/if}}
						{{#if medium.canceled}}
							<td class="talk canceled">
								<span class="canceled-notice">Canceled</span>
								<span class="canceled-descr">
									{{medium.title}}
									<br>
									<em>By {{medium.name}}</em>
								</span>
							</td>
						{{else}}
							<td class=talk>
								<a href="#" data-id="id{{medium._id}}" class="expand" title="Click to view details">{{medium.title}}</a>
								<br>
								<em>By {{medium.name}}</em>
							</td>
						{{/if}}
						{{#if small.canceled}}
							<td class="talk canceled">
								<span class="canceled-notice">Canceled</span>
								<span class="canceled-descr">
									{{small.title}}
									<br>
									<em>By {{small.name}}</em>
								</span>
							</td>
						{{else}}
							<td class=talk>
								<a href="#" data-id="id{{small._id}}" class="expand" title="Click to view details">{{small.title}}</a>
								<br>
								<em>By {{small.name}}</em>
							</td>
						{{/if}}
					{{else}}{{#if is_keynote}}
						<td class="keynote">
							<strong>Keynote:</strong>
							<a href="#" data-id="id{{large._id}}" class="expand" title="Click to view details">{{large.title}}</a>
							<br>
							<em>By {{large.name}}</em>
						</td>
						<td class="empty"></td>
						<td class="empty"></td>
					{{else}}
						<td class=break colspan=3>{{text}}</td>
					{{/if}}{{/if}}
				</tr>
			{{/each}}
		</table>
		<div class="mobile-only">
			{{#each schedule}}
				<div class="mobile-slot">
					<div class="mobile-time {{#if is_talk}} mobile-talk{{/if}}">{{time}}</div>
					{{#if is_talk}}
						<div class="mobile-room">Auditorium</div>
						{{#if large.canceled}}
							<div class="mobile-talk canceled">
								<span class="canceled-notice">Canceled</span>
								<span class="canceled-descr">
									{{large.title}}
									<em>By {{large.name}}</em>
								</span>
							</div>
						{{else}}
							<div class=mobile-talk>
								<a href="#" data-id="id{{large._id}}" class="expand" title="Click to view details">{{large.title}}</a>
								<em>By {{large.name}}</em>
							</div>
						{{/if}}
						
						<div class="mobile-room mobile-room-c">Room C</div>
						{{#if medium.canceled}}
							<div class="mobile-talk canceled">
								<span class="canceled-notice">Canceled</span>
								<span class="canceled-descr">
									{{medium.title}}
									<em>By {{medium.name}}</em>
								</span>
							</div>
						{{else}}
							<div class=mobile-talk>
								<a href="#" data-id="id{{medium._id}}" class="expand" title="Click to view details">{{medium.title}}</a>
								<em>By {{medium.name}}</em>
							</div>
						{{/if}}
						
						<div class="mobile-room mobile-room-a">Room A</div>
						{{#if small.canceled}}
							<div class="mobile-talk canceled">
								<span class="canceled-notice">Canceled</span>
								<span class="canceled-descr">
									{{small.title}}
									<em>By {{small.name}}</em>
								</span>
							</div>
						{{else}}
							<div class=mobile-talk>
								<a href="#" data-id="id{{small._id}}" class="expand" title="Click to view details">{{small.title}}</a>
								<em>By {{small.name}}</em>
							</div>
						{{/if}}
					{{else}}{{#if is_keynote}}
						<div class="mobile-talk keynote">
							<strong>Keynote:</strong>
							<a href="#" data-id="id{{large._id}}" class="expand" title="Click to view details">{{large.title}}</a>
							<br>
							<em>By {{large.name}}</em>
						</div>
					{{else}}
						<div class=mobile-break>{{text}}</div>
					{{/if}}{{/if}}
				</div>
			{{/each}}				
		</div>
	</div>
	{{#each papers}}
		<div id="id{{_id}}" style="display:none" class="expanded">
			<p><input type="button" data-id="id{{_id}}" class="back" value="&laquo; Back">
			<h4>{{title}}</h4>
			<p>{{nl2br description}}
			<p>Targeted for: {{join audience ", "}}
			<h4>About {{name}}</h4>
			<p>{{bio}}
			{{#if github}}
				<p><strong>Github:</strong> {{github github}}
			{{/if}}
			{{#if twitter}}
				<p><strong>Twitter:</strong> {{twitter twitter}}
			{{/if}}
			<p><input type="button" data-id="id{{_id}}" class="back" value="&laquo; Back">
		</div>
	{{/each}}
</div>


<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script>
var $sched = $('#sched');
$('.expand').on('click', function(evt) {
	evt.preventDefault();
	$sched.hide();
	$('#' + this.getAttribute('data-id')).fadeIn(300);
});
$('.back').on('click', function(evt) {
	evt.preventDefault();
	$('#' + this.getAttribute('data-id')).fadeOut(300, function() {
		$sched.show();
	});
});
</script>

{{> footer}}