{{> head}}
{{> nav}}

<div class=main>
	
	<h1>Sponsorship Opportunities</h1>

	<p>The following sponsorships are available. Please contact <a href="mailto:ken&#64;utahjs.com?subject=UtahJS%202015%20Conference%20Sponsorship">ken&#0064;utahjs.com</a> to sign up.</p>

<div class="info-table sponsor-table">
{{!-- From https://docs.google.com/spreadsheets/d/17QLigp0fdMvoryzeuni9fnBPzjztAih8zZMNRYYHPNo/edit?usp=sharing
	And run through Tableizer: http://tableizer.journalistopia.com/tableizer.php --}}
<table class="tableizer-table">
	
<tr class="tableizer-firstrow"><th>Feature</th><th>Gold<br>Sponsor</th><th>Silver<br>Sponsor</th><th>Bronze<br>Sponsor</th><th>Booth</th><th>Dinner &amp;<br>After party</th><th>Attendee<br>T-Shirts</th><th>Name Badges</th><th>Staff/<br>Speaker T-Shirts</th><th>Help Man the Registration Desk</th><th>Snacks</th><th>Water</th></tr>
 <tr><td>Donation</td><td>$5,000</td><td>$2,500</td><td>$1,000</td><td>$1,500</td><td>$1,250</td><td>$1,000</td><td>$500</td><td>$350</td><td>$200</td><td>$150</td><td>$100</td></tr>
 <tr><td>Slots Remaining</td>
	 <td>0 of 1</td><!-- gold -->
	 <td>0 of 2</td><!-- silver -->
	 <td>3 of 5</td><!-- bronze -->
	 <td>0 of 2</td><!-- booth -->
	 <td>2 of 2</td><!-- dinner + afterparty -->
	 <td>1 of 1</td><!-- attendee t-shirts -->
	 <td>1 of 1</td><!-- name badges -->
	 <td>1 of 1</td><!-- staff/speaker t-shirts -->
	 <td>2 of 2</td><!-- help man the registration desk -->
	 <td>2 of 2</td><!-- snacks -->
	 <td>2 of 2</td><!-- water -->
 </tr>
 <tr><td>Logo on Welcome Screen</td><td>Featured</td><td>Large</td><td>Medium</td><td>Small</td><td>Small</td><td>Small</td><td>Small</td><td>Small</td><td>Small</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Logo on Paper Schedule</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td>Add your swag/stickers to Registration Packet</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td></tr>
 <tr><td>Logo on Registration Desk</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Logo on Web Site Schedule</td><td>&#10003;</td><td>&#10003;</td><td>&#10003;</td><td>&nbsp;</td><td>&#10003;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Logo on Poster Schedules</td><td>&#10003;</td><td>&#10003;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Poster on Stage</td><td>&#10003;</td><td>&#10003;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Add your flier to Registration Packet</td><td>Multipage</td><td>One Page</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Admission Tickets Included</td><td>10</td><td>5</td><td>2</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Logo on Attendee T-Shirt</td><td>Medium</td><td>Small</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Small</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Logo on Staff/Speaker T-Shirt</td><td>Medium</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Medium</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Logo on Podium</td><td>&#10003;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Help at Registration Desk</td><td>&#10003;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Booth</td><td></td><td>&nbsp;</td><td>&nbsp;</td><td>&#10003;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Sales Talk at the Welcome Session</td><td>5 minutes</td><td>2 minutes</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td></td></tr>
</table>

	<style>
		/* 0 slots remaining */
		.tableizer-table td:nth-child(2), /* 2=Gold */
		.tableizer-table th:nth-child(2),
		.tableizer-table td:nth-child(3), /* 3=Silver */
		.tableizer-table th:nth-child(3),
		.tableizer-table td:nth-child(5), /* 5=booth */
		.tableizer-table th:nth-child(5)
		{
			opacity: 0.25;
		}
	</style>
</div>
	
</div>

{{> footer}}